<div  @attributes="@CapturedAttributes" class="@_css">
    @ChildContent
</div>

@code {
    [Parameter]
    public RenderFragment? ChildContent { get; set; }
    
    [Parameter(CaptureUnmatchedValues = true)]
    public Dictionary<string,object>? CapturedAttributes { get; set; }

    string _css = string.Empty;
    
    protected override async Task OnInitializedAsync()
    {
        if (CapturedAttributes?["class"] is not string classValue)
        {
            _css = "prose dark:prose-invert max-w-full prose-sm min-w-0";
        }
        else
        {
            _css = $"prose dark:prose-invert max-w-full prose-sm min-w-0 {classValue}";
            CapturedAttributes.Remove("class");
        }
        
        
        await base.OnInitializedAsync();
    }

}