@layout ContentWithProseLayout
@page "/archive"
@inject IMarkdownContentService<BlogSiteFrontMatter> MarkdownContentService
@inject ContentEngineOptions ContentEngineOptions

@if (_posts == null)
{
    <div>Posts not found 🤷</div>
    return;
}

<PageTitle>Archive - @ContentEngineOptions.SiteTitle</PageTitle>


<header>
    <h1>
        All Posts
    </h1>
    <p>
        A complete archive of all @_posts.Count blog posts, organized by most recent.
    </p>
</header>
<div class="mt-16 sm:mt-20 not-prose">
    <div>
        <BlogSummary Posts="_posts" />
    </div>
</div>

@code {
    private List<MarkdownContentPage<BlogSiteFrontMatter>>? _posts;

    protected override async Task OnInitializedAsync()
    {
        _posts = (await MarkdownContentService.GetAllContentPagesAsync()).OrderByDescending(i => i.FrontMatter.Date).ToList();
    }
}