@layout ContentWithProseLayout
@page "/tags/{TagEncodedName}"
@using System.Collections.Immutable
@inject IMarkdownContentService<BlogSiteFrontMatter> BlogService
@inject ContentEngineOptions ContentEngineOptions

@if (_tag == null)
{
    <div>Unknown tag</div>
    return;
}

<PageTitle>@ContentEngineOptions.SiteTitle - @(_tag.Name)</PageTitle>



    <header>
        <h1>@(_tag.Name)</h1>
        <p>
            Blog posts tagged by <span class="text-primary-800 dark:text-primary-300">@(_tag.Name)</span>
        </p>
    </header>
    <div class="not-prose">
        <BlogPostsList Posts="_posts"/>
    </div>


@code {
    [Parameter] public required string TagEncodedName { get; set; }

    private MyLittleContentEngine.Models.Tag? _tag;
    private ImmutableList<MarkdownContentPage<BlogSiteFrontMatter>>? _posts;

    protected override async Task OnInitializedAsync()
    {
        if (string.IsNullOrWhiteSpace(TagEncodedName)) return;
        var tagAndPosts = await BlogService.GetTagByEncodedNameOrDefault(TagEncodedName);
        if (tagAndPosts == null)
        {
            return;
        }

        (_tag, _posts) = tagAndPosts.Value;
    }
}