@layout ContentWithProseLayout
@page "/tags"
@using System.Collections.Immutable
@inject IMarkdownContentService<BlogSiteFrontMatter> BlogService
@inject ContentEngineOptions ContentEngineOptions

<PageTitle>@ContentEngineOptions.SiteTitle - Tags</PageTitle>

<h1>All Tags</h1>

@if (_tagsWithCount == null)
{
    <div>No tags?</div>
    return;
}

<ul>
    @{
        foreach (var tagGroup in _tagsWithCount)
        {
            <li>
                <a href="@tagGroup.Tag.NavigateUrl">@tagGroup.Tag.Name</a>
                <span class="text-xs text-base-600 dark:text-base-400"> (@tagGroup.Count)</span>
            </li>
        }
    }
</ul>


@code {
    private ImmutableList<(MyLittleContentEngine.Models.Tag Tag, int Count)>? _tagsWithCount;

    protected override async Task OnInitializedAsync()
    {
        var allContentPages = await BlogService.GetAllContentPagesAsync();
        _tagsWithCount = allContentPages
            .SelectMany(x => x.Tags)
            .GroupBy(x => x)
            .Select(group => (group.Key, group.Count()))
            .OrderByDescending(x => x.Item2)
            .ToImmutableList();
    }

}