@using Microsoft.AspNetCore.WebUtilities
@using Microsoft.AspNetCore.Hosting
@using Microsoft.Extensions.Hosting
@using MyLittleContentEngine.Services.Content
@inject IWebHostEnvironment WebHostEnvironment
@inject DocSiteOptions DocSiteOptions

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    
    <link rel="stylesheet" href="@GetVersioned("/styles.css")">
    <script src="@GetVersioned("/_content/MyLittleContentEngine.UI/scripts.js")" defer></script>
    
    <script>
       
        // this is actually duplicated in scripts.js, but we need it here to ensure the
        // theme is set before the page loads to avoid flash of unstyled content
        const isDarkMode = localStorage.theme === "dark" || (!("theme" in localStorage) && window.matchMedia("(prefers-color-scheme: dark)").matches);
        document.documentElement.classList.toggle("dark", isDarkMode);
        document.documentElement.dataset.theme = isDarkMode ? "dark" : "light";
    </script>
    
    <HeadOutlet/>
</head>

<body data-base-url="/" data-mobile-menu-open="false" class="data-[mobile-menu-open=true]:overflow-hidden ">
<div>
    <Routes/>
</div>

</body>
</html>

@code{
    static readonly string Version = DateTime.Now.Ticks.ToString();
    
    string GetVersioned(string url) => WebHostEnvironment.IsDevelopment()
        ? url 
        : QueryHelpers.AddQueryString(url, "v", Version);
}