@using MyLittleContentEngine
@using MyLittleContentEngine.Services.Content
@inject LinkService LinkService

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    
    <link rel="stylesheet" href="@LinkService.GetLink("/styles.css")" />
    <script src="@LinkService.GetLink("/_content/MyLittleContentEngine.UI/scripts.js")" defer ></script>

    <script>
        // Set global base URL for scripts to use
        window.MyLittleContentEngineBaseUrl = '@LinkService.GetLink("/")';
    </script>
    <HeadOutlet/>
</head>

<body>
    <Routes/>
</body>
</html>
